
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.start:hover div, button:hover{
    color:black;
    background-color: white;
    transition: background-color 0.4s ease-out;
}

.readmore:hover .arrow{ 
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    .sign{
        visibility: visible;
        color:white;
        padding: 0;
    }
}