
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Founders Grotesk X Condensed';
    src: local('Founders Grotesk X Condensed'), url(./fonts/FoundersGroteskXCond-Lt.otf) format('opentype');
  }

@font-face {
    font-family: 'Neue Montreal';
    src: local('Neue Montreal'), url(./fonts/NeueMontreal-Regular.ttf) format('truetype');
  }

  @font-face {
    font-family: 'Founders Grotesk X Condensed Bold';
    src: local('Founders Grotesk X Condensed Bold'), url(./fonts/FoundersGroteskXCond-Bold.otf) format('opentype');
  }


.start:hover div, button:hover{
    color:black;
    background-color: white;
    transition: background-color 0.4s ease-out;
}

.readmore:hover .arrow{ 
    background-color: black;
    width: 2.5rem;
    height: 2.5rem;
    .sign{
        visibility: visible;
        color:white;
        padding: 0;
    }
}